* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.fa{
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

:root {
    --color-primary: #756ef1;
    --color-success: #00bf8e;
    --color-warning: #f5ed00;
    --color-danger: red;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(242, 239, 156, 0.7);
    --color-black: #000;
    --color-bg: #fff;
    --color-bg1: #eda33b;
    --color-bg2: #c8cbf1;
    --primary: #e70146;
    --hover-color: #fdd052;
    --dark: #1c2022;
    --light: #fff;

    --header-bg: var(--primary);
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 50%;

    --transition: all 400ms ease;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(to top left, #00c0ff, #4218b8);
}

.btn {
    display: inline-block;
    background: var(--color-danger);
    color: var(--color-white);
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-danger-variant);
    color: var(--color-black);
    border-color: var(--color-danger-variant);
}


/*==============================HEADER=========================*/

.bg-top {
    width: 100%;
    background: linear-gradient(to bottom right, #5761b2, #1fc5a8);
}

.container {
    display: grid;
    grid-template-columns: 10% 60% 40%;
}

.container img {
    width: 75%;
    margin: 1rem;
    margin-top: 1.5rem;
}

.container h1 {
    color: var(--color-white);
    font-size: 3rem;
    margin-top: 1.8%;
}

.container-middle p {
    color: var(--color-warning);
    font-family: cursive;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.container-right {
    gap: 1.2rem;
    margin-top: 2%;
    line-height: 2;
    font-weight: 500;
}

.container-right a {
    text-decoration: none;
    color: var(--color-black);
    transition: all 2ms ease;
}

.container-right a:hover {
    color: var(--color-danger);
}

.search{
    position: relative;
    width: 50%;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 2.5%;
    border-radius: 2.5rem;
    margin-bottom: 2%;
    padding: 0.4rem 1.3rem;
    padding-left: 15%;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--color-black2);
}

.search label .fa{
    position: absolute;
    top: 0;
    left: 2%;
    font-size: 1.5rem;
    margin-top: -1%;
}




/*=====================NAVBAR========================*/

header {
    background: var(--header-bg);
    padding-left: 1.5em;
    position: relative;
    /*changes*/
    top: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: var(--light);
    padding: 1em 1.5em;
    font-size: 1rem;
}

/* Styling submenu */
.has-dropdown {
    position: relative;
    z-index: 9;
}

.submenu {
    position: absolute;
    left: 0;
    background-color: var(--dark);
    white-space: nowrap;
    padding: 1.5em 0;
    min-width: 16em;

    /* hide submenus */
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
}

.submenu>li>a {
    padding: 0.8em 1.5em;
}

.submenu .submenu {
    left: -100%;
    top: 0;
}

.submenu .submenu .submenu {
    left: -100%;
    top: 0;
}

.menu>li:hover>a,
.submenu>li:hover>a {
    background-color: hsla(0, 0%, 100%, 0.05);
    color: var(--hover-color);
}

.menu>li:hover>a {
    background-color: hsla(0, 0%, 0%, 0.95);
}

/* Arrows */

.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
}

/* Reveal  */
.menu>li:hover>a+.submenu,
.submenu>li:hover>a+.submenu {
    opacity: 1;
    transform: scaleY(1);
}

/* ANIMATE aRROWS */
.menu>li:hover>a>.arrow,
.submenu>li:hover>a>.arrow {
    transform: rotate(225deg);
}

@media only screen and (max-width: 78.75em) {
    .submenu .submenu .submenu {
        left: -100%;
        top: 0.5em;
    }

    .submenu {
        min-width: 16em;
    }
}

@media only screen and (max-width: 58.75em) {
    .menu li a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 50em) {
    header {
        /*     position: relative; */
        padding: 1.5em 2em;
    }

    .menu {
        flex-flow: column;
        position: absolute;
        background: var(--light);
        top: 4.55em;
        left: 0;
        right: 0;
        height: 100vh;

        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
            100ms opacity ease-in-out;

        overflow-y: scroll;

    }

    .menu>li>a {
        font-size: 1rem;
        color: var(--dark);
    }

    .submenu>li>a {
        font-size: 1rem;
    }

    .submenu {
        top: 0;
        padding-left: 1.5em;
        border-left: 0.12em dotted hsla(342, 99%, 45%, 0.95);
    }

    .submenu .submenu {
        left: 0;
        top: 0;
    }

    .submenu .submenu .submenu {
        left: 0;
        top: 0;
    }

    .menu>li:hover>a+.submenu,
    .submenu>li:hover>a+.submenu {
        position: relative;
    }

    .hamburger {
        width: 2em;
        height: 0.25em;
        display: block;
        background: var(--light);
        position: relative;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after,
    .hamburger::before {
        content: "";
        position: absolute;
        left: 0;
        background: inherit;
        width: inherit;
        height: inherit;

        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after {
        top: 0.65em;
    }

    .hamburger::before {
        bottom: 0.65em;
    }

    .close::after,
    .close::before {
        top: 0;
        transition: 0.2s transform ease-in-out;
    }

    .close::before {
        display: none;
    }

    .close {
        transform: rotate(45deg);
        transition: 0.2s transform ease-in-out;
    }

    .close::after {
        transform: rotate(-90deg);
    }

    /* reveal menu */
    input[type="checkbox"]:checked+.menu {
        position: absolute;
        opacity: 1;
        transform: scaleY(1);
    }
}


/*=================================PROFILE=========================*/

.profile_container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.profile_left {
    width: 80%;
    text-align: center;
    margin: 0.5rem;
    margin-top: 0.1rem;
}

.profile_left h1 {
    font-size: 2.5rem;
    color: var(--color-danger);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.profile_left, .profile_right p{
    font-size: 1.3rem;
    line-height: 2rem;
}
.staff{
    width: 100%;
    background: linear-gradient(to right, #ff512f, #dd2476);
    margin-bottom: 2.5rem;
    border-radius: 5rem;
}

.staff p{
    color: var(--color-white);
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem;
    padding-right: 3rem;
}

.profile_right{
    width: 95%;
    margin-top: 1rem;
    background-color: transparent;
}

.profile_right h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*========================PROFILE CARD=======================*/

.pro_card{
    display: grid;
    grid-template-columns: 100%;
}

.pro_card_right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    margin-bottom: 3rem;
}

.card img{
    width: 40%;
    border-radius: 50%;
}

.card p{
    font-size: 1rem;
}

.Vacant img{
    width: 40%;
    border-radius: 50%;
}

.Vacant h4{
    font-size: 3rem;
    color: var(--color-danger);
}

.profile{
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.profile:hover{
    box-shadow:  3rem 3rem rgba(0, 0, 0, 0.2);
}


/*=================================FOOTER==============================*/

footer {
    background: var(--color-bg2);
    padding-top: 2rem;
    font-size: 0.9rem;
}

footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.top .img {
    width: 10%;
}

.top .media-icons {
    display: flex;
}

.top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer_1 h4 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    margin-left: 1.3rem;
}

.footer_1 ul li {
    margin-bottom: 0.7rem;
    transition: var(--transition);
}

.footer_1 ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    margin-left: 2rem;
    font-size: 1rem;
}

.footer_1 ul li a:hover {
    text-decoration: none;
    color: red;
}


.footer_2 h4 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    margin-left: 1.3rem;
}

.footer_2 ul li {
    list-style: none;
    margin-bottom: 0.7rem;
    transition: var(--transition);
}

.footer_2 ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    margin-left: 2rem;
    font-size: 1rem;
}

.footer_2 ul li a:hover {
    text-decoration: none;
    color: red;
}


.footer_3 h4 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    margin-left: 1.3rem;
}

.footer_3 ul li {
    list-style: none;
    margin-bottom: 0.7rem;
    transition: var(--transition);
}

.footer_3 ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    margin-left: 2rem;
    font-size: 1rem;
}

.footer_3 ul li a:hover {
    text-decoration: none;
    color: red;
}

.footer_4 h4 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    margin-left: 1.3rem;
}

.footer_4 p {
    margin: 0 0 0.4rem;
}


footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a {
    color: var(--color-danger);
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    color: var(--color-white);
}





